.weekend-container .rec {
    margin-top: 100px;
    margin-bottom: 40px;
}

.sectionBg {
    margin-left: -120px;
}
.weekend-title {
    color: #52503B;
    text-align: center;
    font-family: Montserrat;
    font-size: 96px;
    font-weight: 700;
    line-height: 96px; 
    margin-bottom: 100px;
    
}