* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;

}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-left: 120px;
  padding-right: 120px;
}

.btn {
  width: 117px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #FFF;
  color: #52503B;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.rec {
  width: 42px;
  height: 8px;
  background-color: #E08631;
  margin: auto;
  margin-bottom: 33px;
}